<!DOCTYPE html>
<head>
    <title>{{ title }}</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/helper.js') }}"></script>
    {% if isHome %}
        <script src="{{ url_for('static',filename='vendor/anychart/anychart-base.min.js') }}" type="text/javascript"></script>
    {% endif %}
</head>
<body>

<div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img id="logo" src="{{ url_for('static',filename='images/logoLarge.png') }}"
                                              style="max-width: 80%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" id="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"
                       style="color:black;">
                        Candidate
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown">
                        <a class="dropdown-item" href="{{ url_for('candidate',year='First') }}">First Year</a>
                        <a class="dropdown-item" href="{{ url_for('candidate',year='Second') }}">Second Year</a>
                        <a class="dropdown-item" href="{{ url_for('candidate',year='Third') }}">Third Year</a>
                        <a class="dropdown-item" href="{{ url_for('candidate',year='Fourth') }}">Fourth Year</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('candidate',year='All') }}">All Candidates</a>
                    </div>
                </li>
                <li class="nav-item" id="nav-item">
                    <a class="nav-link" href="#" style="color:black;">Interviews Completed</a>
                </li>
                <li class="nav-item" id="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}" style="color:black;">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <select class="form-control mr-2">
                    <option>Name</option>
                    <option>Email</option>
                    <option>Number</option>
                </select>
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div id="msg-box"></div>
{% block content %}{% endblock %}

<div class="container-fluid" id="footer">
    <div class="row" id="imp">
        <div class="col-lg-12 col-sm-12">Designed and Developed By: <span><b>"TEAM IT"</b></span> | IEEE PES NEDUET ©
        </div>
    </div>
</div>

</body>
</html>