<!DOCTYPE html>
<html lang="en">

<head>
	<title>IEEE REGISTRATION</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
{#	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">#}
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
	<!--===============================================================================================-->
{#	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">#}
	<!--===============================================================================================-->
{#	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">#}
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recruit_and_spark_form.css') }}">
	<!--===============================================================================================-->

	<!-- <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script> -->
{#	<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>#}
	<!-- <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-database.js"></script> -->
{#	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="{{ url_for('static',filename='js/helper.js') }}"></script>


</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<img  class="navbar-brand" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
			  <a class="navo" href="{{ url_for('registration') }}">Form</a>
			</li>
			<li class="nav-item">
			  <a class="navo" href="{{ url_for('status') }}">Status</a>
			</li>
		  </ul>

		</div>
	  </nav>

        <div id="msg-box"></div>

        {% block content %}{% endblock %}


	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<!--===============================================================================================-->
{#	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>#}
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
	<!--===============================================================================================-->
{#	<script src="vendor/select2/select2.min.js"></script>#}
{#	<script>#}
{#		$(".selection-2").select2({#}
{#			minimumResultsForSearch: 20,#}
{#			dropdownParent: $('#dropDownSelect1')#}
{#		});#}
{#	</script>#}
	<!--===============================================================================================-->
{#	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>#}
{#	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>#}
	<!--===============================================================================================-->
{#	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>#}
	<!--===============================================================================================-->
	<!-- <script src="js/main.js"></script> -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script> -->
	<!-- <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script> -->

	<!-- <script type="text/javascript" src="js/form_main.js"></script> -->

</body>

</html>