#navbar{
	font-family:  sans-serif;
  font-size:16px;
  border-bottom:4px solid green;	
}


#confirmBox
{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
.confirmBtn {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    color: black;
    cursor: pointer;
}
.confirmBtn:hover
{
    color: black;
    text-decoration: none;
    background-color: #ddd;
}
#confirmBox .message
{
    text-align: left;
    margin-bottom: 8px;
}
.btn1 {
    border-radius: 8px 8px 8px 8px ;
    padding: 6px;
    border-style: none;
    
}

.underscroll{
	visibility: hidden;
}

.card {
  margin-top: 50px;
}

.dropdown-menu {
  display: block;
  width:40px;
}

#candidate{
	font-family: 'Roboto', sans-serif;
	font-size:25px;
	padding:8px;
}


.table{
	text-align:center;
}

#row{
	background-color:gainsboro;
	font-family: 'Roboto', sans-serif;
	padding:15px;
}

#row1{
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	color:green;
}
#row1:hover{
	color:rgb(0,157,0);
}

#row2{
	font-family: 'Roboto', sans-serif;
	font-size:20px;

}
#row3{
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	
	color:green;
	
}
#row3:hover{
	color:rgb(0,157,0);
}

#footer{
	width: 100%;
	background-color:rgb(50,50,50);
  color:rgb(239,239,239);
  padding:15px;
  border-top:3px solid green;
  text-align:center;
  font-size:15px;
  }
  #footer span{
	  color:green;
  }
  #footer span:hover{
	  color:rgb(0,157,0);
	  text-decoration:underline;
  }
  
  #imp{
	display: inline-block !important;
	margin: 2px !important;
  }